<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.nf.carsys.dao.PortDao">

    <resultMap id="portMap" type="edu.nf.carsys.entity.Port">
        <id property="portId" column="port_id"/>
        <result property="portIdentity" column="port_identity"/>
        <result property="portNum" column="port_num"/>
        <result property="carId" column="car_id"/>
    </resultMap>

    <select id="getPortList" resultMap="portMap">
        select * from port_info
    </select>

    <select id="getPortNum" resultMap="portMap">
        select port_num from port_info where port_identity='空'
    </select>

    <insert id="addPort" parameterType="edu.nf.carsys.entity.Port">
        insert into prot_info(port_num) values(#{portNum})
    </insert>

    <update id="updatePort" parameterType="edu.nf.carsys.entity.Port">
        update port_info set port_identity=#{portIdentity},car_id=#{carId}
        where port_num = #{portNum}
    </update>

    <select id="getPortByPort" resultMap="portMap">
        select * from port_info where port_num=#{portNum}
    </select>

</mapper>